/*
NOTE: width: 100% inspects the containing element, has to be explicitly defined!
NOTE: min-height helps out with scrollbar issues, calc takes magins out of equation!
*/

html{
    height: 100vh;
    
    margin: 0px;
    padding: 0px;
    
    background-color: aqua;
}

body{
    min-height: calc(100vh - 0px);
    min-width: 100vh;
    
    margin: 0px;
    padding: 0px;
    
    background-color: red;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#gameContainer {
    background-color: greenyellow;
    border: solid black 10px;
    
    box-sizing: content-box; /*Inclusief margins EN border*/
}

#player {
    /*width: 387px;
    height: 350px;*/

    width: 50px;
    height: 50px;
    
    background-color: rgb(243, 231, 240);
    background-size: 250px;
    border: solid blue 1px;
    
    position: relative; /*relative*/
    box-sizing: border-box; /* Exclusief margins*/
}

.hitboxStyle{
    background-color: transparent;
    border: solid red 1px;

    position: absolute; /*relative*/
    box-sizing: border-box; /* Exclusief margins*/
}
#hitboxIdle{
    top: 3px;
    left: 1px;

    width: 42px;
    height: 44px;
}
#hitboxWalking{
    top: 4px;
    left: 1px;

    width: 41px;
    height: 42px;
}
#hitboxRunning{
    top: 5px;
    left: 2px;

    width: 39px;
    height: 38px;
}
#hitboxJumping{
    top: 4px;
    left: 1px;

    width: 42px;
    height: 43px;
}
#hitboxAttacking{
    top: 11px;
    left: 1px;

    width: 29px;
    height: 27px;
}
#hitboxHurt{
    top: 7px;
    left: 4px;

    width: 37px;
    height: 35px;
}
#hitboxDying{
    top: 7px;
    left: 2px;

    width: 37px;
    height: 38px;
}

.playerStyleCopy{
    width: 50px;
    height: 50px;
    
    box-sizing: border-box; /* Exclusief margins*/
    border: solid blue 1px;
}

#playerWalking {
    background-color: rgb(243, 231, 240);
    background-size: 250px;
    position: relative; /*relative*/
}
#playerRunning {
    background-color: rgb(243, 231, 240);
    background-size: 250px;
    position: relative; /*relative*/
}
#playerJumping {
    background-color: rgb(243, 231, 240);
    background-size: 250px;
    position: relative; /*relative*/
}
#playerAttacking {
    background-color: rgb(243, 231, 240);
    background-size: 250px;
    position: relative; /*relative*/
}
#playerHurt {
    background-color: rgb(243, 231, 240);
    background-size: 250px;
    position: relative; /*relative*/
}#playerDying {
    background-color: rgb(243, 231, 240);
    background-size: 250px;
    position: relative; /*relative*/
}

.playerIdle {
    background: url(/img/player/wizard/SpritesSheets/IdleWizardSprite.png) no-repeat;
}
.playerAttacking {
    background: url(/img/player/wizard/SpritesSheets/AttackingWizardSprite.png) no-repeat;
}
.playerWalking {
    background: url(/img/player/wizard/SpritesSheets/WalkingWizardSprite.png) no-repeat;
}
.playerRunning {
    background: url(/img/player/wizard/SpritesSheets/RunningWizardSprite.png) no-repeat;
}
.playerJumping {
    background: url(/img/player/wizard/SpritesSheets/JumpingWizardSprite.png) no-repeat;
}
.playerHurt {
    background: url(/img/player/wizard/SpritesSheets/HurtWizardSprite.png) no-repeat;
}
.playerDying {
    background: url(/img/player/wizard/SpritesSheets/DyingWizardSprite.png) no-repeat;
}

/*.playerFlipped {
    transform: scaleX(-1);
}*/