/*
NOTE: width: 100% inspects the containing element, has to be explicitly defined!
NOTE: min-height helps out with scrollbar issues, calc takes magins out of equation!
*/

html{
    height: 100vh;
    
    margin: 0px;
    padding: 0px;
    
    background-color: aqua;
}

body{
    min-height: calc(100vh - 0px);
    min-width: 100vh;
    
    margin: 0px;
    padding: 0px;
    
    background-color: red;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#gameContainer {
    background-color: greenyellow;
    border: solid black 10px;
    
    box-sizing: content-box; /*Inclusief margins EN border*/
}

#player {
    width: 46px;
    height: 46px;
    
    border-radius: 50%;
    background: url(/img/player/playerOrb.gif) no-repeat;

    transition: background-size 2s, background-position 2s;
    
    background-size: 51px;
    background-position: -2.5px -2.5px;
    background-color: transparent;
    
    position: relative; /*relative*/
    box-sizing: border-box; /* Exclusief margins*/
    
}

#opponent {
    width: 20px;
    height: 20px;
    
    border-radius: 50%;

    transition: background-size 2s, background-position 2s;
    background-color: red;
    
    position: relative; /*relative*/
    box-sizing: border-box; /* Exclusief margins*/
}

.playerNormal#player {
    background-size: 51px;
    background-position: -2.5px -2.5px;
}
.playerDied#player {
    background-size: 0px;
    background-position: 23px 23px;
}
.player05#player {
    background-size: 5px;
    background-position: 20.5px 20.5px;
}
.player10#player {
    background-size: 10px;
    background-position: 18px 18px;
}
.player15#player {
    background-size: 15px;
    background-position: 15.5px 15.5px;
}
.player20#player {
    background-size: 20px;
    background-position: 13px 13px;
}
.player25#player {
    background-size: 25px;
    background-position: 11px 11px;
}
.player30#player {
    background-size: 30px;
    background-position: 8px 9px;
}
.player35#player {
    background-size: 35px;
    background-position: 6px 5px;
}
.player40#player {
    background-size: 40px;
    background-position: 3.2px 2.5px;
}
.player45#player {
    background-size: 45px;
    background-position: 0.7px -0px;
}
.playerFlipped#player {
    transform: scaleX(-1);
}