/*
NOTE: width: 100% inspects the containing element, has to be explicitly defined!
NOTE: min-height helps out with scrollbar issues, calc takes magins out of equation!
*/

html{
    height: 100vh;
    
    margin: 0px;
    padding: 0px;
    
    background-color: aqua;
}

body{
    min-height: calc(100vh - 0px);
    min-width: 100vh;
    
    margin: 0px;
    padding: 0px;
    
    background-color: red;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#gameContainer {
    background-color: greenyellow;
    border: solid black 10px;
    
    box-sizing: content-box; /*Inclusief margins EN border*/
}

#player {
    /*width: 387px;
    height: 350px;*/

    width: 50px;
    height: 50px;
    
    background-color: rgb(243, 231, 240);
    background-size: 250px;
    border: solid blue 1px;
    
    position: relative; /*relative*/
    box-sizing: border-box; /* Exclusief margins*/
}

.hitboxStyle{
    background-color: transparent;
    border: solid red 1px;

    position: absolute; /*relative*/
    box-sizing: border-box; /* Exclusief margins*/
}
#hitboxPlayer{
    top: 3px;
    left: 1px;

    width: 42px;
    height: 44px;
}


.playerNormal {
    background: url(/img/player/playerOrb.gif) no-repeat;
}

.playerFlipped {
    transform: scaleX(-1);
}